#map {
    height: 40vh;
    width: 100%;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto, sans-serif;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0 11px;
}

#type-selector label {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

#map .centerMarker {
    position: absolute;
    /*url of the marker*/
    background: url(../img/marker.png) no-repeat;
    /*center the marker*/
    top: 50%;
    left: 50%;
    z-index: 1;
    /*fix offset when needed*/
    margin-left: -10px;
    margin-top: -34px;
    /*size of the image*/
    height: 34px;
    width: 20px;
    cursor: pointer;
}

.btn-manual-select {
    border: none;
    background: transparent;
    font-size: 2em;
    width: 1em;
    margin: 0;
    padding: 0;
}

.TeamApp-input.TeamApp-place {
    width: calc(100% - 4em);
}
