<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teamapp</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-football">
    <div class="TeamApp-topbar Topbar">
        <i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Rendez-vous le 14 Oct. à 17h</h1>
        <a href="/events/<%= event.eventId %>/share">Partager</a>
    </div>
</header>

<main class="TeamApp-body">
    <h2>Joueurs (3/10)</h2>
    <ul>
        <li>Thomas</li>
        <li>Matthieu</li>
        <li>Vincent</li>
        <li>Fabio</li>
        <li><button>+</button></li>
    </ul>
    <h2>Lieux</h2>
    <input id="pac-input" class="TeamApp-input TeamApp-place" type="text"
           placeholder="Où est ce que ça se passe?">
    <div id="map"></div>
</main>


<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="/js/googleMap-callback.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcR6GUg5o-z4o-Ghh9eHqf3rtGWWmPbuk&libraries=places&callback=initAutocomplete"
        async defer></script>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/js/teamapp.module.js"></script>
</body>
</html>
