<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teamapp</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
        <% if (user && user.photos) { %>
          <span style="float: right;"><img src=<%= user.photos[0].value %> style="border-radius: 50px;"><span>
        <% } %>
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Rendez-vous le 14 Oct. à 17h</h1>
        <section class="Navigation">
            <a class="Navigation-item" href="/events/<%= event.eventId %>/share"><i class="fa fa-share-alt" aria-hidden="true"></i> Partager</a>
            <a class="Navigation-item" href="/events"><i class="fa fa-list" aria-hidden="true"></i> Mes rencontres</a>
        </section>
    </div>
</header>

<main class="TeamApp-body">
    <section class="Players">
        <h2>Joueurs (3/10)</h2>
        <ul class="PlayerList">
            <li class="PlayerList-item">
                <figure>
                    <img class="PlayerList-avatar" src="../img/player1.png" alt="Thomas">
                    <figcaption class="PlayerList-caption">Thomas</figcaption>
                </figure>
            </li>
            <li class="PlayerList-item">
                <figure>
                    <img class="PlayerList-avatar" src="../img/player2.png" alt="Vincent">
                    <figcaption class="PlayerList-caption">Vincent</figcaption>
                </figure>
            </li>
            <li class="PlayerList-item">
                <figure>
                    <img class="PlayerList-avatar" src="../img/player3.png" alt="Fabio">
                    <figcaption class="PlayerList-caption">Fabio</figcaption>
                </figure>
            </li>
            <li class="PlayerList-item">
                <button class="PlayerList-new">+</button>
            </li>
        </ul>
    </section>
    <section class="Place">
        <h2>Lieux</h2>
        <input id="pac-input" class="TeamApp-input TeamApp-place" type="text"
               placeholder="Où est ce que ça se passe?">
        </div>
    </section>
    <div id="map"></div>

</main>


<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="/js/googleMap-callback.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcR6GUg5o-z4o-Ghh9eHqf3rtGWWmPbuk&libraries=places&callback=initAutocomplete"
        async defer></script>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/js/teamapp.module.js"></script>
</body>
</html>
