<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teamapp</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Mes rencontres</h1>
    </div>
</header>

<main class="TeamApp-body">
    <ul class="MatchList">
        <% Object.keys(events).forEach(function(eventId) { %>
        <li class="MatchList-item"><a href="/events/<%= eventId %>">Match de foot le <%= JSON.stringify(events[eventId]) %></a></li>
        <% }); %>
    </ul>
</main>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/js/teamapp.module.js"></script>
</body>
</html>
