<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teamapp</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
        <% if (user && user.photos) { %>
          <span style="float: right;"><img src=<%= user.photos[0].value %> style="border-radius: 50px;"><span>
        <% } else { %>
          <a class="Topbar-login" href="/login">Login</a>
        <% } %>
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Organisez vos rencontres sportives en toute simplicité.</h1>

        <% if (user) { %>
          <section class="Navigation">
            <a class="Navigation-item" href="/events"><i class="fa fa-list" aria-hidden="true"></i> Mes rencontres</a>
          </section>
        <% } %>
    </div>
</header>

<main class="TeamApp-body" ng-controller="HomeController as home">
    <h2 class="Body-header">Alors, on commence quand?</h2>
    <form class="TeamApp-form" name="form" novalidate action="/events" method="post">
        <div class="TeamApp-fields">
            <label class="TeamApp-label" for="date">Date</label>
            <input id="date"
                   name="date"
                   class="TeamApp-input"
                   type="date"
                   placeholder="Quand?"
                   ng-model="home.event.date"
                   required>

            <label class="TeamApp-label" for="numberOfPlayers">Joueurs</label>
            <input id="numberOfPlayers"
                   name="numberOfPlayers"
                   class="TeamApp-input"
                   type="number"
                   placeholder="Combien?"
                   value="10"
                   ng-model="home.event.numberOfPlayers"
                   required>

            <label class="TeamApp-label" for="place">Lieu</label>
            <input id="place"
                   name="place"
                   class="TeamApp-input TeamApp-place"
                   type="text"
                   placeholder="Où?"
                   ng-model="home.event.place">
            <div class="Map" id="map"></div>

            <button type="submit"
                    class="TeamApp-button"
                    ng-disabled="form.$invalid">
                Créer
            </button>
        </div>
    </form>
</main>

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="/js/googleMap-callback.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcR6GUg5o-z4o-Ghh9eHqf3rtGWWmPbuk&libraries=places&callback=initAutocomplete"
        async defer></script>

<footer class="TeamApp-footer">Made with ❤ by Fabio & Vincent.</footer>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/js/teamapp.module.js"></script>
<script src="/js/home.controller.js"></script>

</body>
</html>
