<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teamapp</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp
        <a class="Topbar-login" href="./login.html">Login</a>
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Organisez vos rencontres sportives en toute simplicité.</h1>
    </div>
</header>

<main class="TeamApp-body">
    <h2 class="Body-header">Alors, on commence quand?</h2>
    <form class="TeamApp-form" action="/events" method="post">
        <div class="TeamApp-fields">
            <label class="TeamApp-label" for="date">Date</label>
            <input id="date" name="date" class="TeamApp-input" type="datetime" placeholder="Quand?">

            <label class="TeamApp-label" for="numberOfPlayers">Joueurs</label>
            <input id="numberOfPlayers" name="numberOfPlayers" class="TeamApp-input" type="number"
                   placeholder="Combien?" value="10">


            <label class="TeamApp-label" for="pac-input">Lieu</label>
            <input id="pac-input" name="place" class="TeamApp-input TeamApp-place" type="text" placeholder="Où?">

            <div class="Map" id="map"></div>
            <button type="submit" class="TeamApp-button">Créer</button>
        </div>
    </form>
</main>

<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="/js/googleMap-callback.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcR6GUg5o-z4o-Ghh9eHqf3rtGWWmPbuk&libraries=places&callback=initAutocomplete"
        async defer></script>

<footer class="TeamApp-footer">Made with ❤ by Fabio & Vincent.</footer>

<script src="/node_modules/angular/angular.min.js"></script>
<script src="/js/teamapp.module.js"></script>

</body>
</html>
