<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
        <% if (!user) { %>
        <a class="Topbar-login" href="/login">Login</a>
        <% } %>
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Organisez vos rencontres sportives en toute simplicité.</h1>
    </div>
</header>

<main class="TeamApp-body" ng-controller="HomeController as home">
    <% if (user) { %>
    <section class="Navigation">
        <a class="Navigation-item" href="/events"><i class="fa fa-list" aria-hidden="true"></i> Mes rencontres</a>
    </section>
    <% } %>

    <h2 class="Body-header">Alors, on commence quand?</h2>
    <form class="TeamApp-form" name="form" novalidate action="/events" method="post">
        <div class="TeamApp-fields">
            <label class="TeamApp-label" for="date">Date</label>
            <input id="date"
                   name="date"
                   class="TeamApp-input"
                   type="date"
                   placeholder="Quand?"
                   ng-model="home.event.date"
                   required>

            <label class="TeamApp-label" for="numberOfPlayersNeeded">Joueurs</label>
            <input id="numberOfPlayersNeeded"
                   name="numberOfPlayersNeeded"
                   class="TeamApp-input"
                   type="number"
                   placeholder="Combien?"
                   value="10"
                   ng-model="home.event.numberOfPlayersNeeded"
                   required>

            <label class="TeamApp-label" for="place">Lieu</label>
            <input id="place"
                   name="place"
                   class="TeamApp-input TeamApp-place"
                   type="text"
                   placeholder="Où?"
                   ng-model="home.event.place">
            <div class="Map" id="map"></div>

            <button type="submit"
                    class="TeamApp-button"
                    ng-disabled="form.$invalid">
                Créer
            </button>
        </div>
    </form>
</main>
<footer class="TeamApp-footer">Made with ❤ by Fabio & Vincent.</footer>
<% include ../partials/scripts %>
</body>
</html>
