<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
    </div>

    <div class="Header-content">
        <h1 class="Header-title"><%= title %></h1>
        <p class="Header-date"><%= date %></p>
    </div>
</header>

<main class="TeamApp-body">
    <section class="Invite">
        <p>Cette rencontre est organisée par</p>
        <figure class="Invite-organizer">
            <img class="Avatar" src="<%= organiser.avatar %>">
            <figcaption><%= organiser.name %></figcaption>
        </figure>
        <% if(isPlayer) { %>
        <p>Tu fais déjà parti(e) de la team.</p>
        <% } %>
        <% if(isFull) { %>
        <p>On est au complet. Bon match!</p>
        <% } else { %>
        <p>Il nous manque encore <strong><%= numberOfSpotLeft %> joueurs</strong>!</p>
        <% } %>
        <% if(!isConnected) { %>
        <p>
            Mais pour enregistrer ta participation on aurait besoin que tu te connectes.
            Ne t'inquiète pas, on ne postera rien sur ton mur sans te demander avant!
        </p>
        <a href="/login/facebook"><img class="Facebook-image" src="../img/loginFacebook.svg"></a>
        <% } else { %>
        <form action="/invite/<%= eventId %>" method="post">
            <% if(isPlayer) { %>
            <input type="hidden" name="response" value="cancel">
            <button class="Invite-participate Invite-participate--cancel">Annuler</button>
            <% } else { %>
            <input type="hidden" name="response" value="participate">
            <button class="Invite-participate">Participer</button>
            <% } %>
        </form>
        <% } %>
    </section>
</main>
<footer class="TeamApp-footer">Made with ❤ by Fabio & Vincent.</footer>
<% include ../partials/scripts %>
</body>
</html>
