<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp
    </div>

    <div class="Header-content">
        <h1 class="Header-title">Besoin d'une équipe?</h1>
    </div>
</header>
<main class="TeamApp-body" style="text-align: center">
    <p class="Presentation">
        Pour pouvoir t'aider à organiser ton match et trouver des joueurs en partageant ta rencontre sur Facebook, on
        aurait besoin que tu te connectes
    </p>
    <a href="/login/facebook"><img class="Facebook-image" src="img/loginFacebook.svg"></a>
</main>
<% include ../partials/scripts %>
</body>
</html>
