<!DOCTYPE html>
<html lang="fr">
<% include ../partials/head %>
<body ng-app="teamapp">

<header class="TeamApp-header Header Header-image">
    <div class="TeamApp-topbar Topbar">
        <span><i class="fa fa-futbol-o" aria-hidden="true"></i> TeamApp</span>
    </div>

    <div class="Header-content">
        <h1 class="Header-title"><%= title %></h1>
        <p class="Header-date"><%= date %></p>
    </div>
</header>

<main class="TeamApp-body">
    <section class="Navigation">
        <a class="Navigation-item" href="/events">
            <i class="fa fa-list" aria-hidden="true"></i> Mes rencontres
        </a>
        <a class="Navigation-item" href="/events/<%= eventId %>">
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
        </a>
    </section>
    <section>
        <h2>Link</h2>
        <a class="Share-link" href="<%= link %>"><i class="fa fa-external-link" aria-hidden="true"></i> <%= link %></a>
    </section>
    <section>
        <h2>Facebook</h2>
        <form action="/events/<%= eventId %>/share" method="post">
            <button class="Share-facebook" type="submit">Poster sur ma Timeline</button>
        </form>
    </section>
</main>
<% include ../partials/scripts %>
</body>
</html>
